
.icon-user:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-user-outline:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-building-filled:before { content: '\e80b'; } /* '' */
.icon-building:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-cloud-sun:before { content: '\e80e'; } /* '' */
.icon-waves:before { content: '\e80f'; } /* '' */
.icon-waves-outline:before { content: '\e810'; } /* '' */
.icon-camera:before { content: '\e811'; } /* '' */
.icon-popup:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-edit-1:before { content: '\e814'; } /* '' */
.icon-warehouse:before { content: '\e815'; } /* '' */
.icon-history:before { content: '\e816'; } /* '' */
.icon-sun:before { content: '\e817'; } /* '' */
.icon-sun-1:before { content: '\e818'; } /* '' */
.icon-bank:before { content: '\e819'; } /* '' */